<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="FYP"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/BlackTheme">
        <activity android:name=".order_detail"></activity>
        <activity android:name=".payment" />
        <activity android:name=".AddToCart" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".CartDetail" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".AddAddress" />
        <activity android:name=".LoadAddress" />
        <activity android:name=".LoadNotification" />
        <activity android:name=".Profile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".AddCommunity" />
        <activity android:name=".PostDetails" />
        <activity android:name=".Home" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>